
<% if(typeof errors != 'undefined'){%>
    <div style="color: red;">
        <h4>Couldn't register!</h4>
    </div>
    <% errors.forEach((error) =>{%>
        <div style="color:red">
            <%=error.msg%>
        </div>
    <%})%>
<%}%>