body{  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: paleturquoise;  
  } 
  
h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.container {  
    padding: 50px;  
    background-color: rgb(255, 255, 255);  
  }  
    
input[type=text], input[type=password], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #e6e1e1;  
  }  

input[type=text]:focus, input[type=password]:focus {  
  background-color: rgb(255, 233, 191);  
  outline: none;  
  } 

div {  
  padding: 10px 0;  
  }  

hr {  
    border: 1px solid #f1f1f1;  
    margin-bottom: 25px;  
  }  

.registerbtn {  
  background-color: #4CAF50;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;   
  opacity: 0.9; 
  width: 100%;
  }  

.registerbtn:hover {  
  background-color: rgb(26, 196, 21);
  }  
  
  button {   
    background-color: #4CAF50;   
    width: 100%;  
     color: rgb(255, 255, 255);   
     padding: 15px;   
     margin: 10px 0px;   
     border: none;   
     cursor: pointer;   
      }   
form {   
     border: 3px solid #f1f1f1; 
     margin: 0 auto; 
     width:450px;  
 }   
input[type=text], input[type=password] {   
     width: 100%;   
     margin: 8px 0;  
     padding: 12px 20px;   
     display: inline-block;   
     border: 2px solid rgba(222, 226, 222, 0.733);   
     box-sizing: border-box;   
 }  
button:hover {   
  background-color: rgb(26, 196, 21);
 }   
.cancelbtn {   
     width: auto;   
     padding: 10px 18px;  
     margin: 10px 5px;  
 }   
     
  
.container {   
     padding: 25px;   
     background-color: rgb(255, 255, 255);  
 }   
 