<form>  
    <div class="container"> 
        <h1>Sign In</h1>   
            <hr>  
                <label>Username or Email : </label>   
                    <input type="text" placeholder="Enter Username or Email" name="usermail" required>  
                <label>Password : </label>   
             <input type="password" placeholder="Enter Password" name="password" required>  
        <button type="submit">Login</button>   
    <input type="checkbox" checked="checked"> Remember me<br>  
         <br><a href="#" style="color:darkslateblue">Forgot password?</a> 
         <br>No account? <a href="/users/register" style="color:darkslateblue">Sign up for free</a>   
    </div>   
</form> 